<div class="modal-header">
    <h4 class="modal-title">Chat Bot Whatsapp</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Tecnologias</h4>
    <ul>
        <li>Twilio</li>
        <li>WebHook</li>
        <li>.Net Core 3.1</li>
        <li>C#</li>
        <li>Web Api</li>
    </ul>
    <div style="min-width:340px; overflow-x:auto">
        <video controls="">
            <source src="assets/video/chatbot.mp4" type="video/mp4">
            Tu navegador no soporta el tag VIDEO.
        </video>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
  </div>