<div class="modal-header">
    <h4 class="modal-title">Chat Bot Whatsapp</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Tecnologias</h4>
    <ul>
        <li>.NET 5</li>
        <li>Web API</li>
        <li>Swagger</li>
        <li>C#</li>
        <li>Angular 11</li>
        <li>CQRS</li>
        <li>EntityFramework Core</li>
        <li>IdentityServer</li>
        <li>JWT</li>
    </ul>
    <div class="text-center" style="min-width:340px; overflow-x:auto">
        <a href="http://estefaniasjean.com" target="_blank">
            <img src="assets/img/estefanias.jpg" class="border border-secondary">
        </a>
        <p class="text-muted">
            <a href="http://estefaniasjean.com" target="_blank">http://estefaniasjean.com</a>
        </p>
        <p class="text-muted">
            Api: <a href="http://josepfuentes1995-002-site2.dtempurl.com/swagger/index.html" target="_blank">http://josepfuentes1995-002-site2.dtempurl.com/swagger/index.html</a>
        </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
  </div>