<div class="col-md-12">
    <div class="card mt-4" id="experiencia_laboral">
        <div class="card-body">
            <h5 class="card-title">Experiencia laboral:</h5>
            <table class="table">
                <tbody>
                    <tr>
                        <td><span class="font-weight-bold">Protiviti Perú </span><h6 class="text-muted">(Feb 2021 – Actualidad)</h6></td>
                        <td>
                            Actualmente se esta trabajando en un proyecto nuevo para la minera Collahuasi (Chile),<br>
                            consumiendo servicios en laravel.
                            <h6>Tecnólogia:</h6>
                            <ul>
                                <li>.NET Core 3.1 </li>
                                <li>Razor</li>
                                <li>MVC C#</li>
                                <li>JQuery</li>
                            </ul>
                        </td>
                    </tr>
                    <tr data-toggle="modal" data-target="#modalEstefaniasjeans">
                            <td><span class="font-weight-bold">Estefania's Jeans </span><h6 class="text-muted">(Enero 2021 – Enero 2021)</h6></td>
                            <td>
                                Proyecto Carrito de compra y administrador.<br>
                                <h6>Tecnólogia:</h6>
                                <ul>
                                    <li>.NET 5</li>
                                    <li>Angular 11</li>
                                    <li>NgBootstrap</li>
                                    <li>Web API</li>
                                    <li>C#</li>
                                    <li>CQRS</li>
                                    <li>FluentValidation</li>
                                    <li>Swagger</li>
                                    <li>EntityFramework Core</li>
                                    <li>IdentityServer</li>
                                    <li>JWT</li>
                                </ul>
                            </td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">ALSGlobal Perú </span><h6 class="text-muted">(Diciembre 2020 – Actualidad)</h6></td>
                        <td>
                            Actualmente se esta trabajando en actualizar el proyecto principal (Asp.Net MVC, C# y Javascript),<br>
                            consumiendo servicios en laravel.
                            <h6>Tecnólogia:</h6>
                            <ul>
                                <li>.NET 5 </li>
                                <li>Razor</li>
                                <li>MVC C#</li>
                                <li>JQuery</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">Stella Maris </span><h6 class="text-muted">(Julio 2020 – Enero - 2021)</h6></td>
                        <td>
                            Actualmente se esta trabajando en un nuevo proyecto Core de la clínica (Asp.Net MVC, C# y Javascript)<br>
                            Encargado de realizar la comunicación con el sistema actual basado en Progress (Web Api Net. Core, Swagger)<br>
                            {{"Encargado de realizar un sistema web para Citas online (MVC Net. Core y Arquitectura Limpia { Repository, Services, Dependency Injection, MediatR y FluentValidation})"}}
                            <h6>Tecnólogia:</h6>
                            <ul>
                                <li>.NET Core 3.1</li>
                                <li>Razor</li>
                                <li>MVC C#</li>
                                <li>JQuery</li>
                                <li>Web API</li>
                                <li>CQRS</li>
                                <li>FluentValidation</li>
                                <li>Swagger</li>
                                <li>Repository</li>
                                <li>Dependency Injection</li>
                                <li>EntityFramework Core Database First</li>
                                <li>SQL Server</li>
                                <li>SignalR</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="font-weight-bold">Proyecto personal 2019 - 2020</span></td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">Stella Maris </span><h6 class="text-muted">(Marzo 2018 – Febrero 2019)</h6></td>
                        <td>Desarrollar un sistema para planilla de médicos y nuevos módulos en el ERP (Asp net MVC, C# y Javascript)
                        <h6>Tecnólogia:</h6>
                        <ul>
                            <li>.NET Framework 4.7.1</li>
                            <li>Razor</li>
                            <li>MVC C#</li>
                            <li>JQuery</li>
                            <li>Javascript</li>
                            <li>SQL Server</li>
                        </ul>
                        </td>
                        
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">Domiruth Travel Service </span><h6 class="text-muted">(Feb 2017 – Marzo 2018)</h6></td>
                        <td>
                            Encargado de darle mantenimiento al conector de vuelos con Sabre (Globalizador de pasajes aéreos) (Soap C#) <br>
                            Encargado de realizar un conector con Amadeus (Globalizador de pasajes aéreos) (Soap C#) <br>
                            Encargado de realizar un conector y Web con Tourico (Sistema de hoteles) (Soap C#, Web Api, Asp net MVC, Javascript y Jquery) <br>
                            <h6>Tecnólogia:</h6>
                            <ul>
                                <li>.NET Framework 4.7.1</li>
                                <li>Razor</li>
                                <li>MVC C#</li>
                                <li>JQuery</li>
                                <li>Javascript</li>
                                <li>Google Maps</li>
                                <li>Visa</li>
                                <li>Servicios SOAP</li>
                                <li>Servicios Rest</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">Forbis Logistics </span><h6 class="text-muted">(Octubre 2015 – Marzo 2017)</h6></td>
                        <td>
                            Encargado de desarrollar un sistema para unir las empresas Forbis Logistics y FargoLine para manejo de contenedores<br>
                            Mantenimiento y agregar nuevas funcionalidades al sistema principal de logística.
                            <h6>Tecnólogia:</h6>
                            <ul>
                                <li>.NET Framework 4.5.1</li>
                                <li>Razor</li>
                                <li>MVC C#</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>