<div class="card" id="biografia">
    <div class="card-body">
        <h5 class="card-title">Biografía <span class="text-muted">MCSA Web Developer</span></h5>
        <p>¡Hola!</p>
<p class="card-text">
Me llamo <b>Isac Fuentes Sierra</b>, nací en Lima - Perú el 23 de Agosto del 1995. Soy un desarrollador C# graduado por el instituto ISIL de Lima, Perú. tengo 4 años de experiencia trabajando. Certificado en el 2020 como MCSA Web Developer por Microsoft. He trabajado en distintos proyectos y equipos de distintos tamaños, Le gusta trabajar en equipo, el siempre da lo mejor para el proyecto y equipo.
        </p>
    </div>
</div>