<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/img/logo.png" aria-label="Logo" width="33" height="28">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0)" (click)="onClickScroll('biografia')">Biografía </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0)" (click)="onClickScroll('estudios')">Estudios </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0)" (click)="onClickScroll('skills')">Skill </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0)" (click)="onClickScroll('experiencia_laboral')">Experiencia Laboral</a>
            </li>
        </ul>
    </div>
</nav>