<div class="card mt-4" id="estudios">
    <div class="card-body">
        <h5 class="card-title">Estudios:</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td><span class="font-weight-bold">Educación Primaria:</span></td>
                    <td>Cristo Morado (2000 - 2006)</td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Educación Secundaria:</span></td>
                    <td>San Antonio de Abad (2007 - 2011)</td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Técnico:</span></td>
                    <td>Instituto San Ignacio de Loyola (Marzo 2012–Diciembre 2015)</td>
                </tr>
            </tbody>
        </table>
        <h5 class="card-title">Certificados:</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td><span class="font-weight-bold">ISILTECH:</span></td>
                    <td>Visual Studio 2013 Developer con C# (Oct 2014 – Marzo 2015)</td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">CIBERTEC:</span></td>
                    <td>
                        Web Developer con MVC C# (Enero 2018, Abril 2018)
                    </td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">NEW HORIZONS:</span></td>
                    <td>ASP.NET Core MVC Web Applications  (Noviembre 2020 - Noviembre 2020)</td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">MICROSOFT:</span></td>
                    <td><a href="assets/img/mcsa.pdf" target="_blank">MCSA Web Applications (ID: 990461442)  (Diciembre 2020)</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>