<img src="assets/img/foto.png" class="rounded mx-auto d-block img-fluid" alt="">
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Contacto</h5>
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <td><span class="font-weight-bold">Telefono:</span></td>
                    <td>+51 924954666</td>
                </tr>
                <tr>
                    <td><span class="font-weight-bold">Email:</span></td>
                    <td>josepfs_1995@hotmail.com</td>
                </tr>
<tr>
                    <td colspan="2"><a href="assets/img/cv.pdf" target="_blank" class="font-weight-bold">CV</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="https://www.facebook.com/josep.fuentes.319/" target="_blank" class="font-weight-bold">Facebook</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="https://github.com/josepfs1995" target="_blank" class="font-weight-bold">Github</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="https://www.linkedin.com/in/josep-fuentes-sierra-500b08b0/" target="_blank" class="font-weight-bold">LinkedIn</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card mt-4 mb-4">
    <div class="card-body">
        <h5 class="card-title">Proyectos</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="2"><a href="javascript:void(0)" (click)="openChatBot()" class="font-weight-bold">Chatbot</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="http://citas.stellamaris.com.pe/" target="_blank" class="font-weight-bold">Citas B2C</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="javascript:void(0)" (click)="openEstefaniaJeans()" class="font-weight-bold">Estefania's Jeans</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="https://almaceneslaurita.com/" target="_blank" class="font-weight-bold">Almacenes Laurita</a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="javascript:void(0)" target="_blank" class="font-weight-bold">Codigo de la web</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>